
body {
  background-color: white;
}
menu
body {
  background-color: white; /* Fond de page blanc */
  margin: 0; /* Supprimer les marges par défaut */
  font-family: Arial, sans-serif; /* Police de la page */
  
}

.menu {
  background-color: #f0f0f0; /* Couleur gris clair pour le menu */
  border-radius: 5px; /* Arrondir les bords */
  font-weight: bold;
}

.content {
  background-color: white; /* Fond de contenu blanc */
  padding: 20px; /* Espacement interne */
  border-radius: 10px; /* Arrondir les bords */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

.user-menu-item {
  text-decoration: none !important; /* Supprime le soulignement */
  border-bottom: none !important; /* Supprime les bordures */
}

.title{
  color: #0056b3;
}

.container {
  display: flex;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px ;
}
.edit-icon i {
  font-size: 16px;
}

.image-container img {
  border-radius: 50%; /* Pour un cercle */
  border: 1px solid #0f0f0f; /* Bordure bleue */
  width: 150px; /* Largeur fixe pour l'image */
  height: 150px; /* Hauteur fixe pour l'image */
}


.separator-vertical {
  width: 3px;  /* Largeur fine pour une ligne verticale */
  height: 350px;  /* Hauteur de la ligne verticale */
  background-color: #000000;  /* Couleur de la ligne */
  margin: 20px auto;  
 
}

/*  */

.form-container {
  flex: 3; /* Prend 3 fois plus d'espace que l'image */
  padding: 20px;
}
.labels {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #252525;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}

.row {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  
}

.col-md-6 {
  width: 48%;
  margin-right: 2%;
}

.col-md-6:nth-child(2n) {
  margin-right: 0;
}

.email-field {
  width: 222%; /* Email field takes full width */
  margin-top: 11px; /* Adds extra space between the email and other fields */
}

.btn {
  margin-top: 100px;
  padding: 10px 20px;
  background-color: #0056b3;
  border: none;
  color: white;
  cursor: pointer;
  float: left;
}

.btn:hover {
  background-color: #004494;
}

/* Conteneur pour aligner l'icône et le texte */
.title-container {
  display: flex;
  align-items: center; /* Aligner verticalement l'icône et le texte */
  margin-bottom: 15px;
}

.title-container h3 {
  margin: 0;
  color: #000000;
  font-weight: bold;
}

/* Style et animation pour l'icône */
.animated-icon {
  margin-right: 8px;
  animation: bounce 1.5s infinite;
  font-size: 1.2em; /* Ajuster la taille si nécessaire */
  color: #000; /* Personnaliser la couleur */
}

/* Animation de rebond */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.custom-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;  
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: background-color 0.3s ease, transform 0.2s;
}

.custom-button:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: scale(1.05); /* Effet zoom au survol */
  cursor: pointer;
}




/* album */

.album-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.album-title {
  margin-top: 20px;
  color: rgb(39, 39, 39);
  font-weight: bold;
}

.album-card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  height: 200px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
}

.album-card:hover {
  transform: scale(1.05); /* Agrandir légèrement la carte au survol */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
}

.album-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/font3.webp');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: 0;
}

.album-card h3 {
  position: relative;
  color: white;
  z-index: 1;
  font-weight: bold;
}

.view-album-button {
  position: relative;
  z-index: 1;
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color:#0056b3 ;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-album-button:hover {
  background-color: #007bff; /* Couleur de fond au survol */
}


.btn-return {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px; /* Ajuster le rembourrage du bouton */
  font-size: 15px; /* Ajuster la taille du texte */
  background-color: #0077ff; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none;
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Effet de transition */
}

.btn-return:hover {
  background-color: #005bb5; /* Couleur de fond au survol */
}
.btn-return {
  position: fixed; /* Position fixe par rapport à la fenêtre */
  bottom: 20px; /* Distance du bas de la fenêtre */
  right: 20px; /* Distance de la droite de la fenêtre */
  display: inline-flex;
  align-items: center;
  padding: 10px 20px; /* Ajuster le rembourrage du bouton */
  font-size: 16px; /* Ajuster la taille du texte */
  background-color: #0077ff; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none;
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Effet de transition */
}

.btn-return:hover {
  background-color: #005bb5; /* Couleur de fond au survol */
}

.rocket-icon {
  margin-right: 8px; /* Espacement entre l'icône et le texte */
  animation: float 2s infinite; /* Animation de l'icône de fusée */
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px); /* Monte légèrement */
  }
  100% {
    transform: translateY(0px); /* Redescend */
  }
}
/* Style pour l'élément de menu sélectionné dans le menu vertical seulement */
.ant-menu-vertical .ant-menu-item-selected {
  background-color: #F8394D !important; /* Couleur de fond rouge */
  color: white !important; /* Couleur de texte en blanc pour le contraste */
  font-weight: bold; /* Texte en gras pour plus de visibilité */
  border-radius: 4px; /* Facultatif : ajoute un léger arrondi */
}
    
         