.testament-container {
    font-family: 'Times New Roman', serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .monT{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }
  .testament-declaration{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .testament-intro {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .testament-acceptance {
    font-style: italic;
    color: #555;
    margin-top: 10px;
  }
  
  .testament-revocation {
    color: #d9534f;
    margin-top: 10px;
  }
  
  .testament-signature {
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
  }
  
  .heritage {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  


  